<a href="https://colab.research.google.com/github/PatkarAditya22/ML-Lab-programs/blob/main/Find_S.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ADITYA PATKAR**
---
TY B-TECH, 181070045<br> Find S Algorithm

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving titanic.csv to titanic (9).csv

In [ ]:
df=pd.read_csv(r"titanic.csv")

In [ ]:
df

     Survived  Pclass  ... Parents/Children Aboard     Fare
0           0       3  ...                       0   7.2500
1           1       1  ...                       0  71.2833
2           1       3  ...                       0   7.9250
3           1       1  ...                       0  53.1000
4           0       3  ...                       0   8.0500
..        ...     ...  ...                     ...      ...
882         0       2  ...                       0  13.0000
883         1       1  ...                       0  30.0000
884         0       3  ...                       2  23.4500
885         1       1  ...                       0  30.0000
886         0       3  ...                       0   7.7500

[887 rows x 8 columns]

In [ ]:
m=len(df.axes[0])
n=len(df.axes[1])

In [ ]:
cols=list(df.columns)
cols=['Pclass','Name',
 'Sex',
 'Age',
 'Siblings/Spouses Aboard',
 'Parents/Children Aboard','Fare','Survived']
df=df.reindex(columns=cols)

**Put age in ranges <br>
1-18 → child <br>
18- 60 → adult <br>
60+ -> senior citizen**

In [ ]:
ages = ["child","adult", "senior citizen"]
x=-1
for i in range(m):
    if df.iloc[i, 3] <= 18:
        x = 0
    elif df.iloc[i,3]<=60:
        x = 1
    else:
        x = 2
    df.iloc[i, 3] = ages[x]

In [ ]:
df

     Pclass  ... Survived
0         3  ...        0
1         1  ...        1
2         3  ...        1
3         1  ...        1
4         3  ...        0
..      ...  ...      ...
882       2  ...        0
883       1  ...        1
884       3  ...        0
885       1  ...        1
886       3  ...        0

[887 rows x 8 columns]

**Finding the first positive example**

In [ ]:
index_of_first_positive=-1
for i in range(m):
    if df.iloc[i,7] == 1:
        index_of_first_positive = i
        break

## Initialize the hypothesis

In [ ]:
hypo=[]
for i in range(1,n-1):
    hypo.append(df.iloc[index_of_first_positive,i])

**Hypothesis**

In [ ]:
hypo

['Mrs. John Bradley (Florence Briggs Thayer) Cumings',
 'female',
 'adult',
 1,
 0,
 71.2833]

## **Training the model**



 **Applying findS algorithm for first 9 examples**`

In [ ]:
for i in range(index_of_first_positive,9):
    if df.iloc[i,7]==0:
        continue
    for j in range(1,n-1):
        if hypo[j-1]!=df.iloc[i,j]:
            hypo[j-1]='?'

**Hypothesis obtained**

In [ ]:
hypo

['?', 'female', 'adult', '?', '?', '?']

# **Testing the model** <br>
Test on Remaining examples

In [ ]:
total_to_test=m-10
total_pass=0
for i in range(9,m):
    flag=True
    for j in range(1,n-1):
        if hypo[j-1]=='?':
            continue;
        else:
            if df.iloc[i][j]!=hypo[j-1]:
                flag=False
                break
    total_pass+=(flag==df.iloc[i,7])

In [ ]:
total_pass,total_to_test

(664, 877)

**Accuracy**

In [ ]:
accuracy=total_pass/total_to_test
accuracy*=100

In [ ]:
accuracy

75.7126567844926